
h1{
    text-align: center;
    font-family:Verdana;
    font-size:19px;
    font-weight:bold;
    padding:16px 53px;
    margin-top: 10px;
}
button{
    box-shadow:inset 0px 0px 0px 0px #fbafe3;
    background:linear-gradient(to bottom,  #8ec29b 5%, #F5D9F7 100%);
    background-color:#8ec29b;
    border-radius:3px;
    border:1px solid  #7C1B84;
    display:inline-block;
    cursor:pointer;
    color:#201515;
    font-family:Verdana;
    font-size:19px;
    font-weight:bold;
    padding:16px 53px;
    margin-top: 10px;
    text-decoration:none;
    /* text-shadow:0px 4px 0px  gray; */

}